@using MbmStore.Models
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
<style>
    h4 {
        display: inline-block;
        margin-left: 80px;
    }
    
</style>


<a asp-controller="Home" asp-action="Index"> Back to Home page</a>
<br />
<div style="padding: 20px">
    @foreach (Invoice invoice in @ViewBag.Invoices)
    {
        <div style="display: inline-block; position: center; padding: 50px">
            <strong>Customer:</strong><br />
            <p> @invoice.Customer.FirstName @invoice.Customer.LastName </p><br />
            <strong>Product & Price:</strong> <br />
            @foreach (var a in invoice.OrderItems)
            {
                <p>@a.Product.Title - @a.Product.Price$</p>
            }

            <strong>Total Price:</strong> @String.Format("{0:0.00}", invoice.TotalPrice)$
        </div>
    }
</div>


