@using MbmStore.Models
@model MbmStore.Models.Product
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Index";
}
<style>
        img {
            width: 100px;
        }
    </style>

<a asp-controller="Home" asp-action="Index"> Back to Home page</a>

<div class="col-md">
    @foreach (Book b in @ViewBag.Booklist)
    {
        <div style="display: inline-block; padding: 50px">
            <b>Author:</b><p>@b.Author</p>
            <b>Title:</b><p>@b.Title</p>
            <b>Price:</b><p>@b.Price</p>
            <b>Publisher:</b><p>@b.Publisher</p>
            <b>ISBN:</b><p>@b.ISBN</p>
        </div>
    }
</div>
<br />
<hr />
<div class="container">
    <div class="row">
        <div>
            >
            @foreach (var c in @ViewBag.MusicCD)
            {
                <div style="width: 600px; float:left; height:300px; background:gray; margin:10px">
                    <b>Album:</b><p>@c.Title</p>
                    <b>Artist:</b><p>@c.Artist</p>
                    <b>Price:</b><p>@c.Price</p>
                    <b>Released:</b><p>@c.Released</p>
                </div>


                <div style="width: 600px; float:left; height:300px; background: yellow; margin:10px">
                    <h3> List of tracks:</h3>
                    <ol>
                        @foreach (Track track in c.Tracks)
                        {
                            <li>
                                @track.Title (@track.Composer)
                                @track.Length.Minutes:@track.Length.Seconds
                            </li>
                        }

                    </ol>
                    <p><b>Total playing time: @c.GetPlayingTime()</b></p>



                </div>
            }
        </div>

    </div>
</div>
<div>
    @foreach (Movie m in @ViewBag.MovieList)
    {
        <div style="width: 600px; float:left; height:300px; background:gray; margin:10px">
        <b>Title:</b><p>@m.Title</p>
        <b>Artist:</b><p>@m.Director</p>
        <b>Price:</b><p>@m.Price</p>
        <img src="Images/@m.ImageFileName"/>
        </div>
    }
</div>

<footer> </footer>




