@using MbmStore.Models;
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Customers";

    <a asp-controller="home" asp-action="Index">Home</a>

    <h2>Customers</h2>

   
    foreach (Customer customer in ViewBag.Customers)
    {
        <p>@customer.FirstName @customer.LastName, @string.Join(",",customer.PhoneNumber)</p>
        <p>@customer.Zip @customer.City</p> 
        <p>@customer.FirstName is @customer.Age years old</p>
    }
}

