@model CartIndexViewModel
@using MbmStore.Models.ViewModels
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your cart</h2>
<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in @Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Title</td>
                <td class="text-right">@line.Product.Price.ToString("C")</td>
                <td class="text-right">@((line.Quantity * line.Product.Price).ToString("C"))</td>

                <td>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="productID"
                               value="@line.Product.ProductId" />
                        <input type="hidden" name="returnUrl"
                               value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("C")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl"> Continue shopping</a>
</div>